body {
  background-color:cadetblue
}

.center {
  text-align:center;
}

.centerFont{
  text-align:center;
  font-size:1.5rem
}

.centerFontBold{
  text-align:center;
  font-size:1.5rem;
  font-weight: bolder;
}

.centerFontItalic{
  width:30rem;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:1.5rem;
  font-style:italic;
}